<div class="page-container">
  <div class="header-lista">
    <h2><i class="bi bi-person-fill"></i> Lista de Autores</h2>
    <a routerLink="/autores/novo" class="btn btn-primary">
      <i class="bi bi-plus-lg"></i> Adicionar Autor
    </a>
  </div>

  <table class="autores-tabela">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nacionalidade</th>
        <th class="col-acoes">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let autor of autores">
        <td>{{ autor.id }}</td>
        <td>{{ autor.nome }}</td>
        <td>{{ autor.nacionalidade }}</td>
        <td class="col-acoes">
          <button (click)="onDelete(autor.id)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i> Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modal-backdrop" *ngIf="modalDelecaoVisivel">
  <div class="modal-content">

    <div class="modal-header">
      <h4><i class="bi bi-exclamation-triangle-fill"></i> Confirmação de Deleção</h4>
    </div>

    <div class="modal-body">
      Tem a certeza que quer deletar este autor?
      <br>
      <strong>Esta ação não pode ser desfeita.</strong>
    </div>

    <div class="modal-footer">
      <button (click)="cancelarDelecao()" class="btn btn-secondary">
        Cancelar
      </button>

      <button (click)="confirmarDelecao()" class="btn btn-danger">
        Sim, Deletar
      </button>
    </div>
    </div>
</div>
